* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

    padding: 0;
    border: 0;
    margin: 0;
}

.sketch .options, ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;   
}

button {
    font-size: 36px;
    color: white;
    background-color: black;
    padding: 8px;
    width: 300px;
    border-radius: 16px;
}

.header, .footer .copyright {
    display: flex;
    justify-content: center;

    color: white;
    background-color: #1F2937;
    width: 100vw;
    font-weight: 400;
    padding: 10px;
}

.header {
    align-items: center;

    font-size: 48px;
    font-weight: 900;
    height: 100px;
    margin: 16px;
    box-shadow: 0 0 0 16px #1F2937;
}

.grid-slider {
    display: flex;
    align-items: center;
    gap: 32px;
    scale: 1.4;
}

#slider {
    height: 20px;
    width: 200px;
    border-radius: 5px;
    scale: 1.2;
}

#slider-value {
    font-weight: 600;
    background-color: grey;
    color: white;
    width: 60px;
    text-align: center;
    padding: 8px;
}